body{
    background-color: rgb(19, 18, 18);
}
.nav {
    background-color: rgba(255, 208, 0, 0.445);
    position: fixed;
    height: 50px;
    margin-top: 10px;
    width: 100px;
    opacity: 1;
    border:1px solid gold;
    border-radius: 14%;
    text-align: center;
}
.powrót{
    text-decoration: none;
}
.tekst {
    color: darkgray;
}
.logolol {
    width: 100%;
    height: 100%;
}
.logolol1 {
    border-bottom: 1px solid gold;
    height: 100%;
}
.logorunterra{
    width: 100%;
    height: 100%;
}
.runterra1 {
    border-bottom: 1px solid gold;
}

.img2 {
    width: 50%;
}
.img3 {
    width: 50%;
}
.footer-zasady {
    background-color: rgb(24, 23, 23);
    border-top: 1px solid gold;
    text-align: center;
}
.icons-footer{
    padding-right: 30px;
    color: gold;
}
.icons-footer:hover{
    color: darkgray;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .wiecejinfo {
      text-align: center;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: 50% 50% ;
    padding-top: 10px;
    text-align: center;
  }
  .grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item3 {
    padding-top: 70px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 0%;
  }
  .mapa {
      width: 100%;
      height: 100%;
  }
  .imgwr {
      width: 50%;
      height: 75%;
  }
  /* .imge-s {
      width: 25%;
      height: 75%;
      padding-top:0;
  } */
  .back {
      background-image: url("./Fat_Poro.jpg");
  }
  .innagra {
      text-decoration: none;
  }
  .innagra1 {
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .victory1 {
      width: 75%;
      height: 75%;
  }
  .logolol2 {
    width: 75%;
    height: 75%;
  }
