.logolol {
    margin-left: 25%;
}
.logolol1 {
    border-bottom: 1px solid gold;
}
.rift-img {
    width: 70%;
    height: 75%;
}
.victory{
    border-top: 1px solid gold;
}
.victory1 {
    margin-left: 39%;
}