body{
    background-color: rgb(19, 18, 18);
}
.nav {
    background-color: rgb(199, 170, 39);
    position: fixed;
}
.tekst {
    color: darkgray;
}
.logolol {
    margin-left: 30%;
}
.logolol1 {
    border-bottom: 1px solid gold;
}
.img2 {
    width: 50%;
}
.img3 {
    width: 50%;
}
.footer-zasady {
    background-color: rgb(24, 23, 23);
    border-top: 1px solid gold;
    text-align: center;
}
.icons-footer{
    padding-right: 30px;
    color: gold;
}
.icons-footer:hover{
    color: darkgray;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .wiecejinfo {
      text-align: center;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item3 {
    padding-top: 70px;
    font-size: 30px;
    text-align: center;
  }
  